.title {
  text-align: center;
  margin: 3rem;
  margin-top: 10rem;
  color: #8aa805;
  font-family: TmonMonsori, sans-serif;
}
.text{ 
  display: block;
  margin: 1rem;
  width: 15vw;
  height: 3vh;
  border-radius: 5px;
  border-width: 0.5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.actionButton{
  display: block;
  margin: 1rem;
  width: 15.2vw;
  height: 4vh;
  background-color: rgb(233, 217, 79);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}
