.title {
  text-align: center;
  margin: 3rem;
  color: #ff00d4;
  font-family: TmonMonsori, sans-serif;
}

.link {
  display: block;
  text-align: center;
  margin: 1rem;
  color: #ff9dd6;
  text-decoration: none;
}